body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0 20%;
    display: flex;
    background-size: 50px 50px;
    background: radial-gradient(white, #eee);
}

section {
    flex-grow: 1;
    margin: 20px;
    display: flex;
    padding: 20px;
    text-align: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    flex-direction: column;
}

.chart {
    width: 100%;
    height: 100%;
    fill: black;
}

.chart rect {
    fill: lightblue;
}

@media(max-width: 720px) {
    body {
        margin: 0;
    }
}